<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salon Tu - Contact</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <%- include('partials/header') %>
  <section class="container" id="contact-info">
    <h2 class="section-title">Contact Us</h2>
    <div class="contact-details">
      <p>ADDRESS:📍 910 E New York St, Aurora, IL 60505</p>
      <p>PHONE: 📞 + 1 (630)-859-1437</p>
      <p>EMAIL: ✉️ support@salontu.com</p>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>
